.my-nav{
  background: #F9F8F8;
  height: 40px;
  width: 100%;
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buggernaut-title{
    position: absolute;
    align-self: center;
    justify-self: center;
    color: #ffbe00 !important;
}

.notif-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.my-icon-nav-links{
    margin-left: 100%;
    margin-right: 6%;
    /*width: fit-content;*/
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*justify-self: flex-end;*/
    align-content: center;
    /*float: end;*/
}

